{
  "presets": ["env", "es2015-no-commonjs"],
  "comments": false,
  "plugins": ["add-module-exports",
    ["babel-plugin-transform-builtin-extend", { "globals": ["Error", "Array"] }]],
  "sourceMaps": true,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}